<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>edu.byui.cs313.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>edu.byui.cs313.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HelloWorldServlet</servlet-name>
  	<display-name>HelloWorldServlet</display-name>
  	<description></description>
  	<servlet-class>edu.byui.cs313.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EnterPost</servlet-name>
  	<display-name>EnterPost</display-name>
  	<description></description>
  	<servlet-class>edu.byui.cs313.servlets.EnterPostServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewPost</servlet-name>
  	<display-name>ViewPost</display-name>
  	<description></description>
  	<servlet-class>edu.byui.cs313.servlets.ViewPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HelloWorldServlet</servlet-name>
  	<url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EnterPost</servlet-name>
  	<url-pattern>/EnterPost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPost</servlet-name>
  	<url-pattern>/ViewPost</url-pattern>
  </servlet-mapping>
</web-app>
